@use "./componentes/colores";
@use "./componentes/footer";
@use "./componentes/textos";
@use "./componentes/generales";

body {
  background-color: colores.$color_ceniza;
}

.card {
  margin: 10px;
}

.nav-link {
  color: colores.$color_marron;
}

.nav-link:hover {
  color: colores.$color_naranja;
}

.enlaces_footer {
  text-decoration: none;
  color: colores.$color_naranja;
}

.enlaces_footer:hover {
  color: colores.$color_mostaza;
}

.card-title {
  color: colores.$color_naranja;
}

.col {
  margin-bottom: 40px;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.carousel {
  margin: 10px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}



