// Colores - Variable
$color_naranja: #b74c2c;
$color_marron: #53331e;
$color_ceniza: #f3e8de;
$color_mostaza: #d58f52;
$color_chocolate: hsl(29, 51%, 15%); 

body {
  background-color: $color_ceniza;
}

.card {
  margin: 10px;
}

footer {
  bottom: 0;
  width: 100%;
}

.nav-link {
  color: $color_marron;
}

.nav-link:hover {
  color: $color_naranja;
}

.enlaces_footer {
  text-decoration: none;
  color: $color_naranja;
}

.enlaces_footer:hover {
  color: $color_mostaza;
}

.card-title {
  color: $color_naranja;
}

.texto_footer {
  margin-top: 5px;
  color: $color_ceniza;
}

.col {
  margin-bottom: 40px;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.carousel {
  margin: 10px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.btn-ver-mas {
  margin-top: 10px;
}

.texto-primario {
    color: #b74c2c;
}

.texto-secundario {
    color: #53331e;
}

.boton-root {
    background-color: $color_naranja;
    border: $color_naranja;
    color: $color_ceniza;
}

.boton-root:hover {
    background-color: $color_mostaza;
    border: $color_mostaza;
    color: $color_marron;
}

